@use "../base/variables";
.header {
    background-color: #fdfdfdd6;
    border-bottom: 1px solid #e1e6ea;
    width: 100%;
    height: 64px;
    padding: 0 16px;
    backdrop-filter: blur(12px);
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1000;
    .wrapper {
        height: 48px;
        width: 100%;
        max-width: 1470px;
        display: flex;
        gap: 16px;
        align-items: center;
        justify-content: space-between;

        .logo {
            width: 156px;
            height: 32px;
            padding: 0;
            margin: 0;
        }
        .nav {
            display: flex;
            gap: 8px;
            @media (max-width: variables.$tablet) {
                display: none;
            }
            .link {
                border-radius: 8px;
                padding: 0 16px;
                height: 48px;
                line-height: 144%;
                display: flex;
                align-items: center;
                white-space: nowrap;
                font-size: 18px;
                font-weight: 400;
                display: flex;
                align-items: center;
                gap: 8px;
                color: var(--color-text-main);
                transition: 0.3s;
                @media (min-width: variables.$tablet) {
                    &:hover {
                        color: var(--color-primary-hover);
                    }
                }

                &.selected {
                    color: var(--color-primary-hover);
                }

                &:active {
                    color: var(--color-primary-press);
                }
                &:focus-visible {
                    outline: 1px solid var(--color-line-focus);
                    outline-offset: -1px;
                }
            }
            .dropdown-menu {
                .dropdown-menu-items {
                    opacity: 0;
                    pointer-events: none;
                    overflow: hidden;
                    position: absolute;
                    top: 64px; /* под шапкой */
                    background: var(--color-bg-main);
                    border-radius: 16px;
                    box-shadow: 0px 8px 16px 0px var(--coloreffectsshadow-2),
                        0px 0px 4px 0px var(--coloreffectsshadow-1);
                    padding: 32px;
                    z-index: 100;
                    display: flex;
                    flex-direction: column;
                    gap: 8px;
                    will-change: opacity, transform;
                    transform: translateY(10px);
                    transition: opacity 0.3s ease, transform 0.3s ease;

                    a {
                        display: flex;
                        align-items: center;
                        height: 48px;
                        color: var(--color-text-main);
                        font-size: 18px;
                        line-height: 24px;
                        font-weight: 400;
                        transition: 0.3s;

                        @media (min-width: variables.$tablet) {
                            &:hover {
                                color: var(--color-primary-hover);
                            }
                        }
                        &.active {
                            color: var(--color-primary-press);
                            pointer-events: none;
                        }
                    }
                }
                button svg {
                    transition: transform 0.8s cubic-bezier(0.34, 1.56, 0.64, 1);
                }
                &.show {
                    button svg {
                        transform: rotateX(180deg);
                    }
                    .dropdown-menu-items {
                        opacity: 1;
                        transform: translateY(0);
                        pointer-events: all;
                    }
                }
            }

            .dropdown-menu a {
                display: block;
                padding: 8px 16px;
                color: #333;
                text-decoration: none;
            }
        }
        .meta {
            display: flex;
            align-items: center;
            gap: 6px;
            .send {
                @media (max-width: variables.$tablet) {
                    display: none;
                }
            }
            .nav_mobile {
                display: none;
                position: relative;
                @media (max-width: variables.$tablet) {
                    display: block;
                }

                .button-icon {
                    cursor: pointer;
                    background: none;
                    border: none;
                    padding: 0;
                    position: relative;
                    width: 48px;
                    height: 48px;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    svg {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        width: 24px;
                        height: 24px;

                        .hamburger-line {
                            transform-origin: center;
                            transition: transform 0.4s
                                    cubic-bezier(0.68, -0.55, 0.27, 1.55),
                                opacity 0.3s ease;
                        }
                    }

                    &.active {
                        svg {
                            .line1 {
                                transform: translate(-3px, -3px) rotate(-45deg)
                                    scaleX(1.2);
                            }
                            .line2 {
                                transform: translate(-3px, 3px) rotate(45deg)
                                    scaleX(1.2);
                            }
                        }
                    }
                }

                .nav_mobile-links {
                    display: none;
                    position: fixed;
                    top: 64px;
                    right: 18px;
                    width: 328px;
                    z-index: 1000;
                    flex-direction: column;
                    gap: 8px;
                    padding: 32px;
                    overflow-y: auto;
                    -ms-overflow-style: none;
                    scrollbar-width: none;
                    &::-webkit-scrollbar {
                        display: none;
                    }
                    background: var(--color-bg-main);
                    border-radius: 16px;
                    box-shadow: 0px 8px 16px 0px var(--coloreffectsshadow-2),
                        0px 0px 4px 0px var(--coloreffectsshadow-1);
                    @media (max-width: variables.$mobile) {
                        position: fixed;
                        top: 64px;
                        left: 0;
                        right: 0;
                        bottom: 0;
                        width: 100%;
                        height: calc(100vh - 64px);
                        border-radius: 8px;
                        box-shadow: none;
                        padding: 16px;
                        overflow-y: auto;
                        background: var(--color-bg-main);
                        z-index: 999;
                    }
                    &.active {
                        display: flex;
                        ~ *:not(.nav_mobile-links) {
                            filter: blur(2px);
                        }
                    }

                    .nav_mobile-links_submenu {
                        flex-direction: column;
                        align-items: flex-start;
                        cursor: auto;

                        .nav_mobile-links_submenu-top {
                            width: 100%;
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            cursor: pointer;
                        }

                        .nav_mobile-links_submenu-items {
                            margin-top: 0;
                            display: flex; /* Постоянно включен flex */
                            flex-direction: column;
                            max-height: 0;
                            opacity: 0;
                            overflow: hidden;
                            transform: translateY(-10px);
                            pointer-events: none; /* Блокировка кликов в закрытом состоянии */
                            transition: max-height 400ms
                                    cubic-bezier(0.2, 0.8, 0.4, 1),
                                opacity 400ms cubic-bezier(0.2, 0.8, 0.4, 1),
                                transform 400ms cubic-bezier(0.2, 0.8, 0.4, 1),
                                margin-top 400ms cubic-bezier(0.2, 0.8, 0.4, 1); /* Анимация отступа */

                            a {
                                height: 0;
                                opacity: 0;
                                pointer-events: none; /* Блокировка кликов по ссылкам */
                                transition: height 400ms
                                        cubic-bezier(0.2, 0.8, 0.4, 1),
                                    opacity 400ms cubic-bezier(0.2, 0.8, 0.4, 1);

                                display: flex;
                                align-items: center;
                                font-weight: 400;
                                font-size: 18px;
                                color: vat(--color-text-main);
                                cursor: pointer;
                                transition: 0.3s;
                                @media (min-width: variables.$tablet) {
                                    &:hover {
                                        color: var(--color-primary-hover);
                                    }
                                }

                                &:active {
                                    color: var(--color-primary-press);
                                }
                                &.selected {
                                    color: var(--color-text-primary);
                                    pointer-events: none;
                                    cursor: auto;
                                }
                            }
                        }
                        svg {
                            transition: transform 0.8s
                                cubic-bezier(0.34, 1.56, 0.64, 1);
                        }

                        &.open {
                            .nav_mobile-links_submenu-items {
                                margin-top: 8px; /* Финал анимации отступа */
                                max-height: 500px;
                                opacity: 1;
                                transform: translateY(0);
                                pointer-events: auto; /* Разрешаем клики */

                                a {
                                    height: 48px;
                                    opacity: 1;
                                    transition-delay: 100ms; /* Задержка только при открытии */
                                    pointer-events: auto; /* Клики по ссылкам */
                                }
                            }

                            svg {
                                transform: rotateX(180deg);
                            }
                        }
                    }

                    .header__mobile-btn {
                        margin-top: 20px;
                    }
                }
            }
        }
        .language-switcher {
            display: grid;
            place-content: center;
            height: 48px;
            width: 54px;
            color: var(--color-text-main);
            font-weight: 400;
            line-height: 26px;
            border-radius: 8px;
            transition: 0.3s;
            cursor: pointer;
            @media (min-width: variables.$tablet) {
                &:hover {
                    color: var(--color-primary-hover);
                }
            }

            &:focus-visible {
                outline: 1px solid var(--color-line-focus);
                outline-offset: -1px;
            }
            &.active {
                color: var(--color-primary-press);
            }
        }
    }
}
// Блокировка скролла для body при открытом меню
body.menu-open {
    overflow: hidden;
    height: 100vh;

    .header {
        position: fixed;
        width: 100%;
    }
}

body.menu-open .header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    width: 100%;
    padding-right: 15px;
}

@media (max-width: variables.$tablet) {
    body.menu-open {
        overflow: hidden;
        height: 100vh;
        width: 100%;
        position: fixed;
        -ms-overflow-style: none;
        scrollbar-width: none;
        &::-webkit-scrollbar {
            display: none;
        }
    }
}
