.advantages {
    padding: 112px 0px;
}

.advantages__wrapper {
    padding: 0 8px;
    margin: 0 auto;
}


.advantages__title {
    margin-bottom: 56px;
}

.advantages__cards {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 16px;
}

.advantages__card {
    border-radius: 16px;
    padding: 32px;
    width: 100%;
    min-height: 224px;
    max-height: 298px;
    background-color: #ebefff;
}

.advantages__card-header {
    display: flex;
    gap: 16px;
    align-items: center;
    justify-content: space-between;
}

.advantages__subtitle {
    font-weight: 700;
    font-size: 24px;
    line-height: 133%;
}

.advantages__icon {
    border-radius: 8px;
    min-width: 48px;
    min-height: 48px;
    background-color: #295bff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.advantages__description {
    margin-top: 16px;
    line-height: 144%;
    color: var(--color-text-secondary);
}

.advantages__card_chart {
    grid-column: 1 / 8;
}

.advantages__card_security {
    grid-column: 8 / 13;
}

.advantages__card_ease {
    grid-row: 2;
    grid-column: 1 / 6;
}

.advantages__card_solution {
    grid-row: 2;
    grid-column: 6 / 13;
}

@media (max-width: 1024px) {

    .advantages {
        padding: 80px 0px;
    }

    .advantages__wrapper {
        padding: 0;
    }

    .advantages__card {
        min-height: 294px;
        padding: 24px;
    }

    .advantages__subtitle {
        font-size: 20px;
        line-height: 130%;
    }

    .advantages__icon {
        min-width: 40px;
        min-height: 40px;
    }
}

@media (max-width: 768px) {
    .advantages {
        padding: 112px 0px;
    }

    .advantages__wrapper {
        padding: 0 8px;
        margin: 0 auto;
    }

    .advantages__cards {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr);
    }

    .advantages__card {
        min-height: 224px;
    }

    .advantages__card_chart {
        grid-column: 1;
        grid-row: 2;
    }

    .advantages__card_security {
        grid-column: 1;
        grid-row: 1;
    }

    .advantages__card_ease {
        grid-column: 1;
        grid-row: 3;
    }

    .advantages__card_solution {
        grid-column: 1;
        grid-row: 4;
    }
}