.features__content {
    width: 953px;
    height: 680px;
    border-radius: 8px 0 0 8px;
    background: #ebefff;
    box-shadow:
        0 8px 16px rgba(16, 24, 40, 0.08),
        0 0 4px rgba(16, 24, 40, 0.04);
    overflow: hidden;
    flex-shrink: 0;
    position: absolute;
    right: -29%;
}

.features__content-item {
    display: none;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.features__content-item.active {
    display: block;
}

.features__img {
    width: 953px;
    height: 680px;
    border-radius: 8px 0 0 8px;
    background: #ebefff;
    box-shadow:
        0 8px 16px rgba(16, 24, 40, 0.08),
        0 0 4px rgba(16, 24, 40, 0.04);
    overflow: hidden;
    flex-shrink: 0;
    position: absolute;
    right: -29%;
}

.features__img-item {
    display: none;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.features__img-item_custom {
    width: 520px;
    height: 535px;
}

.features__img_custom {
    position: relative;
    right: 0;
    background: transparent;
    box-shadow: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 585px;
    height: 664px;
}

.features__img-card {
    border-radius: 12px;
    padding: 16px;
    box-shadow:
        0 8px 16px rgba(16, 24, 40, 0.08),
        0 0 4px rgba(16, 24, 40, 0.04);
    background: #f6f7f9;
    font-size: 16px;
    line-height: 125%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.features__circle {
    border-radius: 33554400px;
    width: 12px;
    height: 12px;
    background: #00c950;
}

.features__img-card_tasks {
    position: absolute;
    top: 105px;
    left: 0;
    width: 196px;
}

.features__img-card_mode {
    position: absolute;
    top: 95px;
    right: 40px;
}

.features__img-card_results {
    width: 301px;
    position: absolute;
    bottom: 50px;
    right: 40px;
    flex-direction: column;
    align-items: start;
    gap: 0;
}

.features__img-card_custom {
    color: #295bff;
}

.features {
    padding-top: 112px;
}

.features__wrapper {
    margin: 0 auto;
}

.features__title {
    margin-bottom: 56px;
}

.features__block {
    position: relative;
    padding: 112px 0px;
    display: flex;
    gap: 112px;
}

.features__block_active {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1000;
    background-color: #fff;
    gap: 0;
    justify-content: space-between;

}

.features__block_active .features__content {
    position: static;
    width: 50%;
}

.features__main {
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 487px;
    min-height: 680px;
}

.features__subtitle {
    font-weight: 700;
    font-size: 34px;
    line-height: 118%;
}

.features__subtitle_custom {
    color: #295bff;
}

.features__cards {
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.features__cards_mobile {
    display: none;
}

.features__card {
    border-radius: 16px;
    padding: 24px;
    min-width: 296px;
    background-color: #f6f7f9;
    font-size: 24px;
    line-height: 133%;
    color: var(--color-text-secondary);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.features__card:hover {
    background-color: #ebefff;
    color: var(--color-text-main);
}

.features__card_active {
    background-color: #ebefff;
    color: var(--color-text-main);
}

.features__list {
    display: none;
}

.features__button {
    align-self: flex-start;
    background-color: var(--btn-ter-bg);
    color: var(--color-text-main);
    padding: 16px 0;
    width: 193px;
}

.features__button:hover {
    background-color: var(--btn-ter-bg-hover);
}

.features__button:focus {
    background-color: var(--btn-ter-bg-focus);
}

.features__button:active {
    background-color: var(--btn-ter-bg-active);
}

.features__button_desktop {
    margin-top: 16px;
}

.features__button_mobile {
    display: none;
}

.features__list {
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.features__item {
    display: flex;
    align-items: flex-start;
    gap: 8px;
    font-size: 24px;
    line-height: 133%;
    color: var(--color-text-secondary);
}

.features__item-number {
    flex-shrink: 0;
    min-width: 24px;
}

.features__item-text {
    margin: 0;
}

.features__list_tablet {
    display: none;
}

.features__video_tablet {
    display: none;
}

.features__content-item_visible {
    display: block;
}

.features__img-item {
    display: block;
}

@media (max-width: 1024px) {
    .features__content {
        width: 100%;
        height: 100%;
        position: static;
        border-radius: 8px;
    }

    .features__img {
        width: 100%;
        height: 100%;
        position: static;
        border-radius: 8px;
    }

    .features__img_custom {
        position: relative;
        width: 460px;
        height: 620px;
        max-width: 460px;
        max-height: 620px;
        margin: 0 auto;
    }

    .features__img-card {
        font-size: 14px;
        line-height: 143%;
        padding: 8px;
        box-shadow: 0 4px 6px -4px rgba(0, 0, 0, 0.1), 0 10px 15px -3px rgba(0, 0, 0, 0.1);
    }

    .features__img-item_custom {
        width: 460px;
        height: 580px;
    }

    .features__img-card_mode {
        top: 25px;
        right: 65px;
    }

    .features__img-card_tasks {
        width: 210px;
        top: 125px;
    }

    .features__img-card_results {
        left: 10px;
        bottom: 15px;
        width: 194px;
    }

    .features {
        padding: 80px 0px;
    }

    .features__title {
        margin-bottom: 48px;
    }

    .features__block {
        padding: 80px 0px;
        display: block;
    }

    .features__cards_mobile {
        display: flex;
        flex-direction: row;
        gap: 16px;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        scrollbar-width: none;
    }

    .features__cards_mobile::-webkit-scrollbar {
        display: none;
    }

    .features__cards_desktop {
        display: none;
    }

    .features__main {
        min-height: auto;
        max-width: 800px;
        display: block;
        margin-bottom: 56px;
    }

    .features__block_active .features__main {
        display: none;
    }

    .features__block_active .features__content {
        height: 564px;
        width: 100%;
    }

    .features__subtitle {
        font-size: 30px;
        line-height: 127%;
    }

    .features__button_mobile {
        display: block;
        margin-top: 56px;
    }

    .features__button_desktop {
        display: none;
    }

    .features__card {
        padding: 16px;
        font-size: 20px;
        line-height: 130%;
        min-width: 232px;
    }

    .features__card_small-long {
        min-width: 326px;
    }

    .features__card_middle-long {
        min-width: 414px;
    }

    .features__card_middle {
        min-width: 293px;
    }

    .features__card_small {
        min-width: 249px;
    }

    .features__card_small-medium {
        min-width: 296px;
    }

    .features__card_middle-small {
        min-width: 308px;
    }

    .features__item {
        font-size: 20px;
        line-height: 130%;
        gap: 4px;
    }

    .features__item-number {
        min-width: 18px;
    }

    .features__list_tablet {
        display: flex;
    }

    .features__img_desktop {
        display: none;
    }

    .features__video_tablet {
        display: block;
    }
}

@media (max-width: 811px) {

    .features {
        padding: 0;
    }

    .features__card_middle-long {
        min-width: 414px;
    }

    .features__card_middle {
        min-width: 309px;
    }

    .features__card_small {
        min-width: 232px;
    }

    .features__card_middle-small {
        min-width: 296px;
    }

    .features__img_desktop {
        display: none;
    }
}

@media (max-width: 768px) {

    .features__block_active .features__main {
        display: none;
    }

    .features__block_active .features__content {
        height: 233px;
    }

    .features__list_tablet {
        display: none;
    }

    .features__card_small-long {
        min-width: 297px;
    }

    .features__card_middle {
        min-width: 296px;
    }

    .features__card_middle-long {
        min-width: 328px;
    }

    .features__card_small {
        min-width: 296px;
    }

    .features__card_middle-mobile {
        min-width: 328px;
    }

    .features__button_mobile {
        width: 100%;
    }

    .features__img_custom {
        width: 100%;
        height: 100%;
        min-height: 440px;
    }

    .features__img-item_custom {
        width: 100%;
        height: 100%;
        min-height: 410px;
    }

    .features__img-card_mode {
        top: 15px;
        right: 5px;
    }

    .features__img-card_tasks {
        width: 150px;
        top: 47px;
        left: 0;
    }

    .features__img-card_results {
        left: 8px;
        bottom: 10px;
    }

    .features__img_desktop {
        display: none;
    }
}