@use "../base/variables";
.advantages {
    padding: 112px 0;
}

.advantages__wrapper {
    padding: 0 8px;
    margin: 0 auto;
}

.advantages__title {
    margin-bottom: 56px;
}
.advantages__cards-wrapper {
    @media (max-width: variables.$mobile) {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    .advantages__cards {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        gap: 16px;
        @media (max-width: variables.$mobile) {
            display: flex;
            flex-direction: column;
        }
        .advantages__card {
            border-radius: 16px;
            padding: 32px;
            width: 100%;
            min-height: 224px;
            background-color: var(--color-bg-light);
        }
        .advantages__card-header {
            display: flex;
            gap: 16px;
            align-items: center;
            justify-content: space-between;
        }

        .advantages__subtitle {
            font-weight: 700;
            font-size: 24px;
            line-height: 133%;
        }

        .advantages__icon {
            border-radius: 8px;
            min-width: 48px;
            min-height: 48px;
            background-color: var(--color-primary-hover);
            display: flex;
            align-items: center;
            justify-content: center;
            svg {
                width: 24px;
                height: 24px;
                color: #fdfdfd;
            }
        }

        .advantages__description {
            margin-top: 16px;
            line-height: 144%;
            color: var(--color-text-muted);
        }

        .advantages__card_chart {
            grid-column: 1 / 8;
        }

        .advantages__card_security {
            grid-column: 8 / 13;
        }

        .advantages__card_ease {
            grid-row: 2;
            grid-column: 1 / 6;
        }

        .advantages__card_solution {
            grid-row: 2;
            grid-column: 6 / 13;
        }
    }

    &.chem {
        .advantages__cards {
            .advantages__card {
                background-color: #f7ebff;
                .advantages__icon {
                    background-color: #7600c7;
                }
            }
        }
    }

    &.farm {
        .advantages__cards {
            .advantages__card {
                background-color: #fff8e5;
                .advantages__icon {
                    background-color: #ffcb3d;
                }
            }
        }
    }
    &.smart {
        .advantages__cards {
            .advantages__card {
                background-color: #e6faee;
                .advantages__icon {
                    background-color: #1f9854;
                }
            }
        }
    }
}
