@use "../base/variables";
.audience {
    padding: 112px 0;
}

.audience__wrapper {
    margin: 0 auto;
}

.audience__title {
    margin-bottom: 56px;
}

.audience__content {
    display: grid;
    grid-template-columns: 1.73fr 1fr;
    gap: 16px;
    align-items: start;
    @media (max-width: variables.$mobile) {
        display: flex;
        flex-direction: column-reverse;
    }
}

.audience__list {
    display: flex;
    flex-direction: column;
    gap: 16px;
    max-width: 752px;
}

.audience__item {
    border-radius: 16px;
    padding: 32px;
    width: 100%;
    min-width: 328px;
    max-width: 752px;
    background-color: var(--color-bg-grey);
    display: flex;
    gap: 16px;
    svg {
        width: 40px;
        height: 40px;
    }
}

.audience__subtitle {
    font-weight: 700;
    font-size: 24px;
    line-height: 133%;
}

.audience__img-wrapper {
    position: relative;
    display: inline-block;
    padding: 24px 24px 0 0;

    .audience__img-bg {
        position: absolute;
        top: 0;
        left: 0;
        width: calc(100% - 24px);
        height: calc(100% - 24px);
        border-radius: 24px;
        background-color: var(--color-bg-light);
        transform: translateX(24px);
        z-index: 0;
    }

    .audience__img {
        position: relative;
        display: block;
        width: 100%;
        aspect-ratio: 1 / 1;
        border-radius: 24px;
        object-fit: cover;
        z-index: 1;
        @media (max-width: variables.$mobile) {
            aspect-ratio: 328 / 200;
        }
    }
    &.ins {
        .audience__img {
            object-position: 0 -85px;
        }
    }
    &.chem {
        padding: 0 23px 12px 0;
        .audience__img-bg {
            position: absolute;
            top: 0;
            left: 0;
            width: calc(100% - 46px);
            height: calc(100% - 12px);
            border-radius: 24px;
            background-color: var(--color-text-primary-chem);
            transform: translate(47px, 12px);
            z-index: 0;
        }
        .audience__img {
            aspect-ratio: 383 / 116;
            @media (max-width: variables.$tablet) {
                aspect-ratio: 380 / 200;
            }
            @media (max-width: variables.$mobile) {
                aspect-ratio: 328 / 200;
            }
        }
    }
    &.farm {
        padding: 0 23px 18px 0;
        .audience__img-bg {
            position: absolute;
            top: 0;
            left: 0;
            width: calc(100% - 46px);
            height: calc(100% - 18px);
            border-radius: 24px;
            background-color: #ffcb3d;
            transform: translate(47px, 18px);
            z-index: 0;
        }
        .audience__img {
            aspect-ratio: 350 / 225;
            @media (max-width: variables.$tablet) {
                aspect-ratio: 380 / 200;
            }
            @media (max-width: variables.$mobile) {
                aspect-ratio: 328 / 200;
            }
        }
    }
}
