.mobile {
    padding-top: 112px;
}

.mobile__wrapper {
    padding: 0 8px;
    margin: 0 auto;
    display: flex;
    gap: 32px;
}

.mobile__main {
    margin: 16px 0;
}

.mobile__info {
    margin-bottom: 32px;
}

.mobile__title {
    font-weight: 700;
    font-size: 24px;
    line-height: 133%;
    margin-bottom: 16px;
}

.mobile__description {
    line-height: 144%;
    color: var(--color-text-secondary);
}

.mobile__links {
    display: flex;
    gap: 16px;
    margin-bottom: 16px;
}

.mobile__link {
    line-height: normal;
    border-radius: 8px;
    width: 156px;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    background-color: #101828;
}

.mobile__link:hover {
    background-color: #232c34;
}

.mobile__link:focus {
    background-color: #445565;
}

.mobile__link:active {
    background-color: #678198;
}

.mobile__link:disabled {
    color: #97a9b9;
    background-color: #e1e6ea;
}

.mobile__link-info {
    padding-top: 3px;
}

.mobile__link-subtitle {
    font-weight: 500;
    font-size: 8px;
    color: #fdfdfd;
    margin-bottom: 4px;
}

.mobile__link-title {
    font-weight: 500;
    color: #fdfdfd;
}

.mobile__img {
    margin: 2px 0;
    max-width: 328px;
    max-height: 258px;
}

.mobile__img-wrapper {
    max-height: 258px;
}

.mobile__qr {
    margin: 2px 0;
    width: 100%;
    min-width: 120px;
    max-width: 220px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 16px;
}

.mobile__qr-img {
    width: 100%;
    height: 100%;
    max-width: 138px;
    max-height: 138px;
}

.mobile__qr-description {
    font-size: 14px;
    line-height: 129%;
    letter-spacing: 0.01em;
    text-align: center;
    color: var(--color-text-secondary);
}

.mobile__links_mobile {
    display: none;
}

@media (max-width: 1024px) {

    .mobile__wrapper {
        gap: 24px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .mobile__main {
        margin: 8px 0;
    }

    .mobile__title {
        font-size: 20px;
        line-height: 130%;
        font-family: var(--second-family);
    }

    .mobile__info {
        margin-bottom: 24px;
    }

    .mobile__qr-img {
        min-width: 120px;
        min-height: 119px;
    }

    .mobile__qr {
        margin: 0;
    }

    .mobile__img {
        margin: 0;
    }

}

@media (max-width: 811px) {
    .mobile__img {
        width: 100%;
        height: 100%;
        min-width: 240px;
        max-width: 328px;
    }
}

@media (max-width: 768px) {
    .mobile__wrapper {
        flex-direction: column;
        gap: 48px;
    }

    .mobile__main {
        margin: 0;
    }

    .mobile__info {
        margin: 0;
    }

    .mobile__links_desktop {
        display: none;
    }

    .mobile__qr {
        display: none;
    }

    .mobile__img-wrapper {
        position: relative;
    }

    .mobile__links_mobile {
        margin: 0;
        display: flex;
        position: absolute;
        bottom: 16px;
    }
}