.prices {
    padding: 112px 0px;
}

.prices__wrapper {
    padding: 0px 8px;
    margin: 0 auto;
}

.prices__title {
    margin-bottom: 56px;
}

.prices__calculator {
    padding: 24px 32px 32px 32px;
    border-radius: 16px;
    background-color: #f6f7f9;
    display: flex;
    justify-content: space-between;
    gap: 32px;
    margin-bottom: 16px;
    flex-wrap: wrap;
}

.calculator__period {
    min-width: 280px;
}

.calculator__title {
    line-height: 144%;
    margin-bottom: 8px;
}

.calculator__period-switcher {
    background-color: #e1e6ea;
    border-radius: 8px;
    padding: 4px;
    width: 100%;
    display: flex;
    gap: 8px;
    height: 56px;
}

.switcher__left {
    cursor: pointer;
    line-height: 144%;
    width: 132px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-text-secondary);
}

.switcher__right {
    cursor: pointer;
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: center;
    width: 132px;
    color: var(--color-text-secondary);
    line-height: 144%;
}

.switcher__active {
    box-shadow: 0 2px 4px 0 rgba(16, 24, 40, 0.08),
        1px 0 6px 0 rgba(16, 24, 40, 0.04);
    background: #fdfdfd;
    border-radius: 4px;
    color: var(--color-text-main);
}

.switcher__right-subtitle {
    border-radius: 4px;
    padding: 4px 6px;
    font-weight: 700;
    font-size: 14px;
    line-height: 143%;
    letter-spacing: 0.01em;
    color: #fdfdfd;
    background-color: #f2415a;
}

.calculator__users-range {
    height: 56px;
    display: flex;
    gap: 16px;
}

.range {
    position: relative;
    width: 200px;
}

.range-input {
    margin: 0;
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 16px;
    background-color: transparent;
    position: relative;
    cursor: pointer;
    z-index: 1;
}

.range-input::-webkit-slider-runnable-track {
    height: 16px;
    background-color: #e1e6ea;
    border-radius: 999px;
}

.range-input::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 28px;
    height: 28px;
    border-radius: 999px;
    background-color: #fdfdfd;
    box-shadow: 0 2px 4px rgba(16, 24, 40, 0.08),
        1px 0 6px rgba(16, 24, 40, 0.04);
    margin-top: -6px;
    position: relative;
    z-index: 5;
}

.range-input::-moz-range-track {
    height: 16px;
    background-color: #e1e6ea;
    border-radius: 999px;
}

.range-input::-moz-range-thumb {
    width: 28px;
    height: 28px;
    border-radius: 999px;
    background-color: #fdfdfd;
    box-shadow: 0 2px 4px rgba(16, 24, 40, 0.08),
        1px 0 6px rgba(16, 24, 40, 0.04);
    border: none;
    position: relative;
    z-index: 3;
}

.range-marks {
    width: 100%;
    position: absolute;
    top: 6px;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-around;
    pointer-events: none;
    z-index: 3;
    height: 4px;
}

.range-mark {
    width: 4px;
    height: 4px;
    background-color: #101828;
    border-radius: 50%;
}

.calculator__users-labels {
    display: flex;
    justify-content: space-between;
    margin-top: 8px;
    color: var(--color-text-secondary);
    font-size: 14px;
    line-height: 129%;
    letter-spacing: 0.01em;
}

.calculator__users-count {
    border-radius: 8px;
    width: 64px;
    height: 56px;
}

.calculator__region-labels {
    display: flex;
    justify-content: space-around;
    margin-top: 8px;
    color: var(--color-text-secondary);
    font-size: 14px;
    line-height: 129%;
    letter-spacing: 0.01em;
}

.calculator__region-count {
    border-radius: 8px;
    width: 64px;
    height: 56px;
}

.calculator__region-range {
    height: 56px;
    display: flex;
    gap: 16px;
}

.calculator__reset {
    align-self: flex-end;
    border-radius: 8px;
    padding: 16px 24px;
    width: 184px;
    min-width: 130px;
    max-height: 56px;
    font-weight: 500;
    line-height: 133%;
    letter-spacing: 0.01em;
    text-align: center;
    background-color: var(--btn-pri-bg);
}

.calculator__reset:hover {
    background-color: var(--btn-pri-bg-hover);
}

.calculator__reset:focus {
    background-color: var(--btn-pri-bg-focus);
}

.calculator__reset:active {
    background-color: var(--btn-pri-bg-active);
}

.calculator__reset:disabled {
    background-color: var(--btn-pri-bg-disabled);
    color: var(--btn-pri-text-disabled);
    cursor: not-allowed;
}

.prices__costs {
    margin-bottom: 16px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
}

.costs__block {
    border-radius: 16px;
    padding: 32px;
    min-width: 304px;
}

.costs__base {
    background-color: #f6f7f9;
}

.costs__standart {
    background-color: #ebefff;
}

.costs__profi {
    background-color: #295bff;
    color: #fdfdfd;
}

.costs__title {
    font-weight: 700;
    font-size: 24px;
    line-height: 133%;
}

.costs__item {
    display: flex;
    align-items: center;
    width: 100%;
}

.costs__item-img {
    width: 24px;
    height: 24px;
    margin-right: 16px;
    margin-bottom: 2px;
}

.costs__item-title {
    line-height: 144%;
}

.costs__item-value {
    margin-left: auto;
}

.costs__button {
    margin-top: 32px;
    border-radius: 8px;
    padding: 16px 24px;
    width: 100%;
    height: 56px;
    background-color: var(--btn-pri-bg);
}

.costs__button:hover {
    background-color: var(--btn-pri-bg-hover);
}

.costs__button:focus {
    background-color: var(--btn-pri-bg-focus);
}

.costs__button:active {
    background-color: var(--btn-pri-bg-active);
}

.costs__button_custom {
    background-color: var(--btn-sec-bg);
    color: #fdfdfd;
}

.costs__button_custom:hover {
    background-color: var(--btn-sec-bg-hover);
}

.costs__button_custom:focus {
    background-color: var(--btn-sec-bg-focus);
    outline: none;
}

.costs__button_custom:active {
    background-color: var(--btn-sec-bg-active);
}

.costs__line {
    display: block;
    margin: 32px 0;
    border-radius: 999px;
    width: 100%;
    height: 1px;
    background-color: #e1e6ea;
}

.costs__main-info {
    margin: 32px 0;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.costs__secondary-info {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.prices__info {
    margin-top: 32px;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.prices__info-text {
    line-height: 144%;
    color: var(--color-text-secondary);
}

.switcher__left,
.switcher__right {
    transition: background-color 0.3s ease, color 0.3s ease,
        box-shadow 0.3s ease;
}

@media (max-width: 1024px) {
    .prices {
        padding: 80px 0px;
    }

    .prices__wrapper {
        padding: 0;
    }

    .prices__calculator {
        padding: 16px 24px 24px 24px;
        gap: 24px;
    }

    .calculator__reset {
        width: 130px;
    }

    .costs__block {
        padding: 24px;
    }

    .costs__title {
        font-size: 20px;
        line-height: 130%;
        font-family: var(--second-family);
    }

    .costs__main-info {
        margin: 24px 0;
    }

    .costs__line {
        margin: 24px 0;
    }

    .costs__button {
        margin-top: 24px;
    }

    .prices__title {
        margin-bottom: 48px;
    }
}

@media (max-width: 1022px) {
    .prices__costs {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 811px) {
    .costs__block {
        height: 669px;
    }

    .prices__calculator {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .range {
        width: 100%;
    }

    .calculator__reset {
        width: 100%;
    }

    .switcher__left {
        width: 100%;
    }

    .switcher__right {
        width: 100%;
    }
}

@media (max-width: 768px) {
    .prices__calculator {
        grid-template-columns: repeat(1, 1fr);
    }

    .prices__costs {
        grid-template-columns: repeat(1, 1fr);
    }

    .costs__block {
        height: 100%;
    }
}
