@font-face {
    font-family: "Exo 2";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/Exo2-Regular.woff2")
        format("woff2");
}
@font-face {
    font-family: "Exo 2";
    font-style: normal;
    font-weight: 500;
    src: url("../fonts/Exo2-Medium.woff2")
        format("woff2");
}
@font-face {
    font-family: "Exo 2";
    font-style: normal;
    font-weight: 600;
    src: url("../fonts/Exo2-SemiBold.woff2")
        format("woff2");
}
