@font-face {
    font-family: "Exo 2";
    font-style: normal;
    font-weight: 400;
    src: url("~fonts/Exo 2/Exo2-Regular.woff2") format("woff2");
}
@font-face {
    font-family: "Exo 2";
    font-style: normal;
    font-weight: 500;
    src: url("~fonts/Exo 2/Exo2-Medium.woff2") format("woff2");
}
@font-face {
    font-family: "Exo 2";
    font-style: normal;
    font-weight: 600;
    src: url("~fonts/Exo 2/Exo2-SemiBold.woff2") format("woff2");
}
@font-face {
    font-family: "Exo 2";
    font-style: normal;
    font-weight: 700;
    src: url("~fonts/Exo 2/Exo2-Bold.woff2") format("woff2");
}
@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    src: url("~fonts/Roboto/Roboto-Regular.woff2") format("woff2");
}
@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    src: url("~fonts/Roboto/Roboto-Medium.woff2") format("woff2");
}
@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    src: url("~fonts/Roboto/Roboto-Bold.woff2") format("woff2");
}
@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 900;
    src: url("~fonts/Roboto/Roboto-Black.woff2") format("woff2");
}
