*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body {
    font-size: var(--font-size-base);
    font-weight: var(--font-weight-normal);
    color: var(--color-text-main);
    font-family: var(--font-main);
    overflow-x: hidden;
}

a {
    cursor: pointer;
    color: var(--color-text-main);
    text-decoration: none;
    font: inherit;
    padding: 0;
    transition: all 0.3s ease-in-out;
}

a:hover {
    color: var(--color-text-primary);
}

a:focus {
    outline: none;
    color: var(--color-text-primary);
}

a:active {
    color: var(--color-text-primary-press);
}

button {
    font: inherit;
    border: 0;
    background-color: transparent;
    border-radius: 8px;
    color: var(--btn-contact-bg);
    font-weight: 500;
    line-height: 133%;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

button:focus {
    outline: none;
}

input {
    background: #e1e6ea;
    color: #101828;
    border: none;
    outline: none;
    font-weight: 400;
    font-size: 18px;
    line-height: 144%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

main {
    margin-top: 64px;
}