@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


:root {
    --color-text-main: #101828;
    --font-main: "Roboto", sans-serif;
    --second-family: "Exo 2", sans-serif;
    --font-size-base: 18px;
    --font-weight-normal: 400;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body {
    font-size: var(--font-size-base);
    font-weight: var(--font-weight-normal);
    color: var(--color-text-main);
    font-family: var(--font-main);
    overflow-x: hidden;
}

a {
    color: var(--color-text-main);
    text-decoration: none;
    font: inherit;
    padding: 0;
}

button {
    font: inherit;
    border: 0;
    background-color: transparent;
    border-radius: 8px;
    color: #fdfdfd;
    font-weight: 500;
    line-height: 133%;
    cursor: pointer;
}

.container {
    max-width: 1200px;
}

.title {
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 50px;
    line-height: 112%;
}

.header {
    background-color: rgba(253, 253, 253, 0.84);
    border-bottom: 1px solid #e1e6ea;
    height: 64px;
    backdrop-filter: blur(12px);
    display: flex;
    align-items: center;
}

.header__wrapper {
    padding: 8px 0;
    max-width: 1440px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
}


.header__nav {
    display: flex;
    gap: 8px;
}

.header__link {
    border-radius: 8px;
    padding: 0 16px;
    line-height: 144%;
    display: flex;
    align-items: center;
}

.header__link_active {
    color: #295bff;
    gap: 8px;
}

.header__meta {
    display: flex;
    gap: 16px;
}

.header__language-switcher {
    padding: 11px 16px;
    color: #101828;
    font-weight: 400;
    line-height: 144%;
}

.header__feedback {
    padding: 12px 24px;
    background-color: #295bff;
}

.header__menu {
    display: none;
    align-items: center;
    padding: 12px;
}

.header__menu-img {}


.main {}

.welcome {
    padding-top: 112px;
    padding-bottom: 304px;
    background: url("/images/welcome-bg.svg");
    background-position: 10% 25%;
    background-repeat: no-repeat;
}

.welcome__wrapper {
    margin: 0 auto;
    padding: 0px 8px;
    display: flex;
    gap: 56px;
}

.welcome__main {
    margin-top: 88px;
    display: flex;
    flex-direction: column;
    gap: 48px;
}

.welcome__title {
    font-weight: 700;
    font-size: 71px;
    line-height: 113%;
    font-family: var(--second-family);
}

.welcome__title_custom {
    color: #295bff;
}

.welcome__description {
    margin-top: 24px;
    font-size: 24px;
    line-height: 133%;
    color: #445565;
}

.welcome__button {
    padding: 16px 24px;
    letter-spacing: 0.01em;
    background-color: #101828;
    width: 193px;
}

.welcome__secondary {
    padding: 53px 38px 33px 46px;
}

.welcome__img-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    aspect-ratio: 514 / 338;
}

.welcome__img-bg {
    position: absolute;
    top: 4px;
    width: 100%;
    height: 100%;
    background: #ebefff;
    transform: rotate(-4deg);
    border-radius: 24px;
}

.welcome__img {
    position: relative;
    z-index: 1;
    border-radius: 24px;
    width: 87.5%;
    height: 100%;
    box-shadow: 0 8px 16px 0 rgba(16, 24, 40, 0.08), 0 0 4px 0 rgba(16, 24, 40, 0.04);
    object-fit: cover;
    margin-left: 30px;
}

.audience {
    padding: 112px 0;
}

.audience__wrapper {
    margin: 0 auto;
}

.audience__title {
    margin-bottom: 56px;
}

.audience__content {
    display: flex;
    gap: 16px;
    width: 100%;
}

.audience__list {
    display: flex;
    flex-direction: column;
    gap: 16px;
    max-width: 752px;
}

.audience__item {
    border-radius: 16px;
    padding: 32px;
    width: 100%;
    min-width: 328px;
    max-width: 752px;
    background-color: #f6f7f9;
    display: flex;
    gap: 16px;
}

.audience__item-img {
    width: 40px;
    height: 40px;
}

.audience__subtitle {
    font-weight: 700;
    font-size: 24px;
    line-height: 133%;
    font-family: var(--second-family);
}

.audience__img-wrapper {
    position: relative;
    width: 100%;
    min-width: 328px;
    max-width: 416px;
    min-height: 328px;
    max-height: 416px;
    display: flex;
    align-items: flex-end;
}

.audience__img-bg {
    position: absolute;
    top: 0;
    right: 0;
    width: 369px;
    height: 378px;
    background-color: #ebefff;
    border-radius: 24px;
    z-index: 0;
}

.audience__img {
    position: relative;
    z-index: 1;
    width: 386px;
    height: 384px;
    border-radius: 24px;
    object-fit: cover;
}

.advantages {
    padding: 112px 0px;
}

.advantages__wrapper {
    padding: 0 8px;
    margin: 0 auto;
}


.advantages__title {
    margin-bottom: 56px;
}

.advantages__cards {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 16px;
}

.advantages__card {
    border-radius: 16px;
    padding: 32px;
    width: 100%;
    min-height: 224px;
    max-height: 298px;
    background-color: #ebefff;
}

.advantages__card-header {
    display: flex;
    gap: 16px;
    align-items: center;
    justify-content: space-between;
}

.advantages__subtitle {
    font-weight: 700;
    font-size: 24px;
    line-height: 133%;
}

.advantages__icon {
    border-radius: 8px;
    min-width: 48px;
    min-height: 48px;
    background-color: #295bff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.advantages__description {
    margin-top: 16px;
    line-height: 144%;
    color: #445565;
}

.advantages__card_chart {
    grid-column: 1 / 8;
}

.advantages__card_security {
    grid-column: 8 / 13;
}

.advantages__card_ease {
    grid-row: 2;
    grid-column: 1 / 6;
}

.advantages__card_solution {
    grid-row: 2;
    grid-column: 6 / 13;
}

.features__video {
    width: 953px;
    height: 680px;
    border-radius: 8px 0 0 8px;
    background: #ebefff;
    box-shadow:
        0 8px 16px rgba(16, 24, 40, 0.08),
        0 0 4px rgba(16, 24, 40, 0.04);
    overflow: hidden;
    flex-shrink: 0;
    position: absolute;
    right: -29%;
}

.demo-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.features {
    padding-top: 112px;
}

.features__wrapper {
    margin: 0 auto;
}

.features__title {
    margin-bottom: 56px;
}

.features__block {
    position: relative;
    padding: 112px 0px;
    display: flex;
    gap: 112px;
}

.features__main {
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 487px;
}

.features__subtitle {
    font-weight: 700;
    font-size: 34px;
    line-height: 118%;
    margin-bottom: 16px;
}

.features__subtitle_custom {
    color: #295bff;
}

.features__cards {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.features__cards_mobile {
    display: none;
}

.features__card {
    border-radius: 16px;
    padding: 24px;
    min-width: 296px;
    background-color: #f6f7f9;
    font-size: 24px;
    line-height: 133%;
    color: #445565;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.features__card:hover {
    background-color: #e1e6ea;
}

.features__card:active {
    background-color: #d4dce2;
}

.features__card_active {
    background-color: #ebefff;
    color: var(--color-text-main);
}

.features__list {
    display: none;
}

.features__button {
    align-self: flex-start;
    background-color: #e1e6ea;
    color: #101828;
    padding: 16px 0;
    width: 193px;
}

.features__button:hover {
    background-color: #d4dce2;
}

.features__button:focus {
    background-color: #cbd4dc;
}

.features__button:active {
    background-color: #97a9b9;
}

.features__button_desktop {
    margin-top: 16px;
}

.features__button_mobile {
    display: none;
}


@media (max-width: 1024px) {
    .header__wrapper {
        padding: 0 40px;
    }

    .header__meta {
        gap: 8px;
    }

    .header__feedback {
        display: none;
    }

    .header__menu {
        display: flex;
    }

    .header__nav {
        display: none;
    }

    .welcome {
        padding: 80px 0px;
        background: url("/images/welcome-bg-middle.svg");
        background-position: 30% 25%;
        background-repeat: no-repeat;
    }

    .welcome__wrapper {
        padding: 0;
        gap: 48px;
    }

    .welcome__main {
        gap: 32px;
        margin-top: 0;
        justify-content: space-around;
    }

    .welcome__title {
        font-size: 56px;
        line-height: 114%;
    }

    .welcome__description {
        font-size: 20px;
    }

    .welcome__secondary {
        padding: 35px 24px 19px 29px;
    }

    .welcome__img-wrapper {
        aspect-ratio: 302 / 215;
    }

    .welcome__img {
        margin-left: 15px;
    }

    .welcome__img-bg {
        top: 0;
    }

    .audience {
        padding: 80px 0px;
    }

    .audience__title {
        margin-bottom: 48px;
    }

    .audience__list {
        width: 100%;
    }

    .audience__item {
        padding: 24px;
    }

    .audience__item-img {
        width: 32px;
        height: 32px;
        object-fit: cover;
    }

    .audience__subtitle {
        font-size: 20px;
        line-height: 130%;
    }

    .audience__img-wrapper {
        max-width: 356px;
        max-height: 332px;
    }

    .audience__img-bg {
        width: 315px;
        height: 301px;
    }

    .audience__img {
        width: 330px;
        height: 306px;
        object-fit: cover;
    }

    .advantages {
        padding: 80px 0px;
    }

    .advantages__wrapper {
        padding: 0;
    }

    .advantages__card {
        min-height: 294px;
        padding: 24px;
    }

    .advantages__subtitle {
        font-size: 20px;
        line-height: 130%;
    }

    .advantages__icon {
        min-width: 40px;
        min-height: 40px;
    }

    .features__video {
        width: 100%;
        height: 100%;
        position: static;
        border-radius: 8px;
    }

    .features {
        padding: 80px 0px;
    }

    .features__title {
        margin-bottom: 48px;
    }

    .features__block {
        padding: 80px 0px;
        display: block;
    }

    .features__cards_mobile {
        display: flex;
        flex-direction: row;
    }

    .features__cards_desktop {
        display: none;
    }

    .features__main {
        max-width: 800px;
        display: block;
        margin-bottom: 56px;
    }

    .features__subtitle {
        font-size: 30px;
        line-height: 127%;
        margin-bottom: 16px;
    }

    .features__card {
        margin-top: 16px;
        border-radius: 16px;
        padding: 16px;
        font-size: 20px;
        line-height: 130%;
    }

    .features__list {
        display: flex;
        flex-direction: column;
    }

    .features__item {
        font-size: 20px;
        line-height: 130%;
        color: #445565;
    }

    .features__button_mobile {
        display: block;
        margin-top: 56px;
    }

    .features__button_desktop {
        display: none;
    }

    .title {
        font-size: 40px;
        line-height: 120%;
    }

    .container {
        padding: 0 40px;
    }
}

@media (max-width: 811px) {
    .header__wrapper {
        padding: 0 16px;
    }

    .welcome__title_custom {
        display: block;
    }

    .welcome__secondary {
        padding-top: 32px;
        padding-left: 27px;
    }

    .welcome__img-wrapper {
        width: 303px;
        height: 196px;
    }

    .welcome__img-bg {
        width: 303px;
        height: 196px;
        top: 0;
    }

    .welcome__img {
        width: 278px;
        height: 198px;
        margin-left: 12px;
    }

    .audience__img-wrapper {
        max-width: 328px;
        min-height: 306px;
        max-height: 306px;
    }

    .audience__img-bg {
        width: 290px;
        height: 278px;
    }

    .audience__img {
        width: 304px;
        height: 282px;
        object-fit: cover;
    }
}

@media (max-width: 768px) {
    .header__wrapper {
        padding: 0 16px;
    }

    .welcome {
        padding: 32px 0 80px 0;
        background: url("/images/welcome-bg-small.svg");
        background-position: -30% 65%;
        background-repeat: no-repeat;
    }

    .welcome__wrapper {
        flex-direction: column;
    }

    .welcome__secondary {
        padding-top: 9px;
        padding-left: 10px;
        order: -1;
    }

    .welcome__img-wrapper {
        width: 310px;
        height: 182px;
    }

    .welcome__img-bg {
        width: 310px;
        height: 182px;
        top: 0;
    }

    .welcome__img {
        width: 286px;
        height: 184px;
        margin-left: 12px;
    }

    .welcome__button {
        width: 100%;
    }

    .audience__content {
        flex-direction: column;
    }

    .audience__item {
        flex-direction: column;
    }

    .audience__img-wrapper {
        order: -1;
        min-height: 200px;
        max-height: 200px;
    }

    .audience__img-bg {
        width: 291px;
        height: 172px;
    }

    .audience__img {
        width: 304px;
        height: 175px;
        object-fit: cover;
    }

    .advantages {
        padding: 112px 0px;
    }

    .advantages__wrapper {
        padding: 0 8px;
        margin: 0 auto;
    }


    .advantages__cards {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr);
    }

    .advantages__card {
        min-height: 224px;
    }

    .advantages__card_chart {
        grid-column: 1;
        grid-row: 2;
    }

    .advantages__card_security {
        grid-column: 1;
        grid-row: 1;
    }

    .advantages__card_ease {
        grid-column: 1;
        grid-row: 3;
    }

    .advantages__card_solution {
        grid-column: 1;
        grid-row: 4;
    }

    .container {
        padding: 0 16px;
    }
}